<!doctype html>
<html lang="en" ng-app="meltdownApp">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Meltdown Belote</title>
		<link rel="stylesheet" href="/styles.css" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="login.js"></script>
	</head>
	<body ng-controller="LoginCtrl as ctrl">
		<form ng-submit="ctrl.auth()">
			<h2>Connexion</h2>
			<label>Email / pseudo:</label>
			<input type="text" ng-model="ctrl.email" placeholder="Ton ostie d'email ou pseudo" required />
			<label>Mot de passe:</label>
			<input type="password" ng-model="ctrl.password" placeholder="Ton ostie de mot de passe" required />

			<h2 class="error" ng-if="ctrl.loginError">Verify your credentials</h2>
			<button type="submit" ng-disabled="!ctrl.email || !ctrl.password">Je me connecte a la secte</button>
		</form>

		<form ng-submit="ctrl.createAccount()">
			<h2>Creation de compte</h2>
			<label>Email:</label>
			<input type="text" ng-model="ctrl.newAccountEmail" placeholder="Ton ostie d'email" required />
			<label>Pseudo:</label>
			<input type="text" ng-model="ctrl.newAccountPseudo" placeholder="Ton ostie de pseudo" required />
			<label>Mot de passe:</label>
			<input type="password" ng-model="ctrl.passwordOne" placeholder="Ton ostie de mot de passe" required />
			<input type="password" ng-model="ctrl.passwordTwo" placeholder="Securité de tu n'as pas fait d'osti de calisse de marde" required />
			<h2 class="error" ng-if="ctrl.accountCreationError">Pseudo used</h2>
			<button
				type="submit"
				ng-disabled="!ctrl.newAccountPseudo || !ctrl.passwordOne || !ctrl.passwordTwo || ctrl.passwordTwo != ctrl.passwordOne"
			>
				Je rejoins la secte
			</button>
			<h2 class="error" ng-if="ctrl.creationError">{{ctrl.creationError}}</h2>
		</form>

		<div class="links-container">
			<a href="/rules">Règles</a>
			<a href="/valeurs.webp" target="_blank">Valeur des cartes</a>
			<a href="https://github.com/AdrienPensart/belote" target="_blank">Code source</a>
			<a href="https://github.com/AdrienPensart/belote/issues" target="_blank">Bug Tracker</a>
		</div>
	</body>
</html>
